.rating {
    display: flex;
    flex-direction: row;

}

.mask {
    display: none;
}

.mask-star-2:checked ~ .mask-star2 {
    background-color: orange;
}

.mask-star-2 {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: gray;
    margin-right: 4px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}